<div class="container">
  <nav class="bg-light">
    <header class="d-flex flex-wrap justify-content-center py-3">
      <ul class="nav nav-pills">
        <li class="nav-item me-2 ms-2">
          <button class="btn btn-secondary" (click)="Log()">Loguearse</button>
        </li>
        <li class="nav-item me-2 ms-2">
          <button routerLink="inicio" class="nav-link active btn btn-primary">
            Login
          </button>
        </li>
        <li class="nav-item me-2 ms-2">
          <button
            routerLink="dashboard"
            class="nav-link active btn btn-primary"
          >
            Solo si estoy logueado
          </button>
        </li>
      </ul>
    </header>
  </nav>
</div>
<router-outlet></router-outlet>
<lib-toastify-toast-container></lib-toastify-toast-container>
